<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
        <ul class="cart__item-list">
          <% products.forEach(p => { %>
            <li class="cart__item">
              <h1>
                <%= p.title %> (<%= p.qty %>)
              </h1>
              <h2>
                Quantity: <%= p.quantity %>
              </h2>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%= p._id %>" name="productId">
                <button class="btn" type="submit">Delete</button>
              </form>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
          <h1>No Products in Cart!</h1>
          <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
